body{
    background-image: url(../img/fondo.jpeg);
    background-attachment: fixed;
    background-size: 60vh;
    background-position: top;
    background-repeat: no-repeat;
    margin: 0px;
    font-family: 'Dancing Script', cursive;

    @include mq-500px{
        background-color: black;
        background-image: url(../img/fondopc.jpg);
        background-size: 200vh;
    }
}
main{
    .titulo{
        width: 80%;
        text-align: center;
        
    
        p{
            background-color: $color1;
            border: $bordes;
            padding: 5px;
            border-radius: 20px;
            font-size: 40px;

        }
    }
}
.apa{
    @include mq-900px{
        display: inline !important;
        font-size: 30px;
    }
}