body{
    background-image: url(../img/fondo.jpeg);
    background-attachment: fixed;
    background-size: 60vh;
    background-position: top;
    background-repeat: no-repeat;
    margin: 0px;
    @include mq-500px{
        background-color: black;
        background-image: url(../img/fondopc.jpg);
        background-size: 200vh;
    }
}