main {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: white;

    .img {

        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        flex-direction: row;

        img {
            width: 90%;
            max-width: 600px;
            border: solid $color1 5px;
            border-radius: 20px;
            margin: 5px;

            @include mq-1000px {
                display: inline-block;
                max-width: 400px;
            }
        }

        .img1 {
            display: none;

            @include mq-1000px {
                display: inline-block;
            }
        }

    }

    .fecha {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;



        margin: 10px 0px;

        .fondo {
            padding: 10px;
            border-radius: 20px;
            background-color: $color1;
        }
    }

    .contador {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;

        .simply-section {
            div {
                display: flex;
                flex-direction: column-reverse;
                align-items: center;
                margin: 2px;
                background-color: $color1;
                width: 70px;
                border: $bordes;
                border-radius: 10px;
            }

        }
    }

    .texto {
        margin: 20px 0px;
        width: 90%;
        padding: 10px;
        border-radius: 20px;
        border: $bordes;
        background-color: $color1;
        max-width: 600px;

        div {
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        @include mq-900px {
            display: none;
        }
    }

    .texto2 {
        display: none;
    }

    @include mq-1300px {
        .teximg {
            display: inline-block;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;



            img {
                display: inline-block;
                margin: 0px 5px;
                width: 25%;
                border: solid $color1 5px;
                border-radius: 20px;

            }
        }
    }
    .px1300{
        display: none;
    }

   

    @include mq-900px {
        .texto2 {

            display: inline-block;
            background-image: url(../img/imgg2.jpeg);
            background-size: 100%;
            height: 600px;
            width: 600px;
            border-radius: 20px;
            border: solid $color1 5px;
            margin: 10px 0px;


            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 40% 20px;
                background-color: rgba(51, 0, 0, 0.473);
                padding: 10px;
                border-radius: 20px;
                border: $bordes;


            }
        }
    }


    iframe {
        width: 90%;
        margin: 20px 0px;
        width: 90%;
        padding: 10px;
        border-radius: 20px;
        border: $bordes;
        background-color: $color1;
        max-width: 600px;
    }
}